body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: black;
}

.nav-container {
  width: 50%;
}
.search-bar {
  width: 50%;
}

.nav-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items li {
  color: white;
  width: 12%;
  justify-content: center;
  display: flex;
  font-weight: bold;

  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-items li:first-child {
  color: white;
  background-color: #6db891;
  width: 15%;
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.search-icon {
  color: #fff;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.mobile-nav {
  display: none !important;
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.mobile-menu {
  display: none;
}

.logo {
  color: white;
}

.menu-icon {
  cursor: pointer;
  color: white;
}

.hero {
  background: url("./Assets/background.jpg");
  text-align: center;
  height: 400px;
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: left;
}

.hero-button {
  background-color: black;
  color: white;
  padding: 10px 16px;
  font-size: 20px;
  border: 0px;
  margin: 20px;
}

.heading-container {
  margin-top: 10px;
}

.sec-heading {
  text-align: center;
}
.sec-text {
  text-align: center;
}

.members {
  display: flex;
  margin-top: 20px;
}

.member1 {
  width: 25%;
  text-align: center;
}

.member2 {
  width: 25%;
  text-align: center;
}

.member3 {
  width: 25%;
  text-align: center;
}

.member4 {
  width: 25%;
  text-align: center;
}

.team-members {
  border-radius: 150px;
}

.members div p {
  font-size: 12px;
  font-weight: bold;
}

.work-section-container {
  background-color: #3e3b49;
  display: flex;
  align-items: center;
}

.work-section-inner {
  display: flex;
  gap: 20px;
  width: 95%; /* Use a percentage that's less than 100% */
  margin: 0 auto;
  padding: 30px;
}

.work-section-inner div {
  width: 24%;
  background-color: white;
}
.work-section-inner div img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  height: 268px;
}
.work-section-inner div h2 {
  padding: 10px;
}
.work-section-inner div ul {
  list-style-type: none;
  line-height: 1.5;
  margin: 0;
  padding: 0px 15px;
  font-weight: 700;
}

.our-work {
  background-color: #3e3b49 !important;
}

.our-work h1 {
  color: white;
}
.our-work p {
  color: white;
}

.work-section-container button {
  align-self: flex-end;
  width: 40px; /* Set the width and height to create a circle */
  height: 40px;
  background-color: #56b69b;
  color: white;
  border: 0;
  border-radius: 50%; /* Use border-radius to make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  left: -36px;
}

.work-section-container button i {
  font-weight: bold; /* Make the icon bolder */
  font-size: 20px; /* You can adjust the font size as needed */
}

.contact-section-container {
  background-color: #ebebebf7;
  display: flex;
  align-items: center;
}

.contact-section-inner {
  width: 98%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px;
}

.contact-section-inner div {
  width: 50%;
}

.contact-form form {
  height: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Add a shadow to the contact form */
}

form label {
  display: block;
  font-weight: bold;
  font-size: 13px;
}

form input {
  display: block;
  width: 95%;
  padding: 10px;
  border: none; /* Remove the default border */
  border-bottom: 2px solid #e5e3e3; /* Add a bottom border */
  outline: none;
  margin-bottom: 10px;
}
.form-footer {
  display: flex;
  width: 100% !important;
}
.checkbox {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.checkbox input {
  width: auto !important;
}

.btn-container {
  text-align: end;
  align-self: center;
}

.btn-container button {
  background: black;
  color: white;
  padding: 6px 10px;
  border: none;
}

.contact-info h2 {
  display: inline-block; /* Make the h2 an inline block */
  border-bottom: 5px solid #56b69b;
  margin: 0;
}
.contact-info p {
  display: flex; /* Make the h2 an inline block */
  gap: 10px;
}
.contact-info i {
  color: #56b69b;
}

.icon-button {
  align-self: flex-end;
  width: 40px; /* Set the width and height to create a circle */
  height: 40px;
  background-color: black;
  color: white;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: -36px;
}

.icon-button i {
  font-weight: bold; /* Make the icon bolder */
  font-size: 20px; /* You can adjust the font size as needed */
}

.footer {
  height: 80px;
  background-color: black;
}

.footer-text p {
  text-align: center;
  color: white;
  margin-top: 10px;
}

.social-icons {
  text-align: center;
}
.social-icons button {
  background-color: #56b69b;
  color: white;
  padding: 10px;
  border: none;
}

@media (max-width: 768px) {
  .nav-container {
    display: none;
  }

  .logo {
    display: flex;
    background-color: #56b69b;
    color: white;
    width: 20%;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .members div {
    width: 100%;
  }

  .work-section-inner div {
    width: 100%;
  }

  .contact-section-inner div {
    width: 100%;
    padding: 10px;
  }

  .search-bar {
    display: none;
  }

  .footer {
    margin-top: 20px;
  }

  .navbar,
  .members,
  .work-section-inner,
  .contact-section-inner,
  .contact-info,
  .contact-form {
    display: block;
  }
}

@media (max-width: 768px) {
  .mobile-nav {
    display: flex !important;
  }

  .mobile-menu.show {
    display: block;
  }
}
